<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Construction Company
Villa in Saguramo
Construction
Builders
Saguramo
Construction in Saguramo
Constructions
    ">
    <meta name="description" content="Construction Company L3 is Currently Building Luxury Villas in Saguramo. Great Views, Affordable Price, Safe Neighborhood.">
    <meta property="og:title" content="L3 | Construction Company" />
    <meta property="og:image" content="http://l3.com/img/logo.png" />
    <meta name="facebook-domain-verification" content="gb54bflwzle0f6lf36aj7jw53yb43q" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>L3 | Construction Company</title>
    <link rel="icon" href="favicon.ico">

    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '469096385314891');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=469096385314891&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

</head>
<body>

    <main>
    <div class="homeback">
    <a class="homeindex" href="index.html">HOME</a> 
     <a class= "backhtml"<%= link_to 'BACK', :back %></a></div>
        <p class="sendmessagebutton" onclick="showchatbox()"><i class="fa-brands fa-facebook-messenger"></i></p>
        <div class="newmap">
            <div class="newmap-sold">
                <img src="img/map_sold.png" alt="mapofsaguramo">
            </div>
      
            <% if @map1 == "1" %>
            <p class="sold1">SOLD</p>
            <% end %>
            <% if @map2 == "1" %>
            <p class="sold2">SOLD</p>
            <% end %>
            <% if @map3 == "1" %>
            <p class="sold3">SOLD</p>
            <% end %>
            <% if @map4 == "1" %>
            <p class="sold4">SOLD</p>
            <% end %>
            <% if @map5 == "1" %>
            <p class="sold5">SOLD</p>
            <% end %>
            <% if @map6 == "1" %>
            <p class="sold6">SOLD</p>
            <% end %>
            <% if @map7 == "1" %>
            <p class="sold7">SOLD</p>
            <% end %>
            <% if @map8 == "1" %>
            <p class="sold8">SOLD</p>
            <% end %>
             <% if @map9 == "1" %>
             <p class="sold9">SOLD</p>
             <% end %>
             <% if @map12 == "1" %>
             <p class="sold12">SOLD</p>
             <% end %>
             <% if @map13 == "1" %>
             <p class="sold13">SOLD</p>
             <% end %>
             <% if @map15 == "1" %>
             <p class="sold15">SOLD</p>
             <% end %>
             <% if @map16 == "1" %>
             <p class="sold16">SOLD</p>
             <% end %>
             <% if @map17 == "1" %>
             <p class="sold17">SOLD</p>
             <% end %>
             <% if @map18 == "1" %>
             <p class="sold18">SOLD</p>
             <% end %>
             <% if @map19 == "1" %>
             <p class="sold19">SOLD</p>
             <% end %>
             <% if @map20 == "1" %>
             <p class="sold20">SOLD</p>
             <% end %>
             <% if @map21 == "1" %>
             <p class="sold21">SOLD</p>
             <% end %>
             <% if @map22 == "1" %>
             <p class="sold22">SOLD</p>
             <% end %>
             <% if @map23 == "1" %>
             <p class="sold23">SOLD</p>
             <% end %>
             <% if @map24 == "1" %>
             <p class="sold24">SOLD</p>
             <% end %>
             <% if @map25 == "1" %>
             <p class="sold25">SOLD</p>
             <% end %>
             <% if @map26 == "1" %>
             <p class="sold26">SOLD</p>
             <% end %>
             <% if @map27 == "1" %>
             <p class="sold27">SOLD</p>
             <% end %>
             <% if @map28 == "1" %>
             <p class="sold28">SOLD</p>
             <% end %>
             <% if @map29 == "1" %>
             <p class="sold29">SOLD</p>
             <% end %>
             <% if @map30 == "1" %>
             <p class="sold30">SOLD</p>
             <% end %>
             <% if @map31 == "1" %>
             <p class="sold31">SOLD</p>
             <% end %>
             <% if @map32 == "1" %>
             <p class="sold32">SOLD</p>
             <% end %>
             <% if @map33 == "1" %>
             <p class="sold33">SOLD</p>
             <% end %>
             <% if @map38 == "1" %>
             <p class="sold38">SOLD</p>
             <% end %>
             <% if @map39 == "1" %>
             <p class="sold39">SOLD</p>
             <% end %>
             <% if @map40 == "1" %>
             <p class="sold40">SOLD</p>
             <% end %>
             <% if @map41 == "1" %>
             <p class="sold41">SOLD</p>
             <% end %>
             <% if @map43 == "1" %>
             <p class="sold43">SOLD</p>
             <% end %>
             <% if @map44 == "1" %>
             <p class="sold44">SOLD</p>
             <% end %>
             <% if @map45 == "1" %>
             <p class="sold45">SOLD</p>
             <% end %>
             <% if @map46 == "1" %>
             <p class="sold46">SOLD</p>
             <% end %>
             <% if @map47 == "1" %>
             <p class="sold47">SOLD</p>
             <% end %>
             <% if @map48 == "1" %>
             <p class="sold48">SOLD</p>
             <% end %>
             <% if @map50 == "1" %>
             <p class="sold50">SOLD</p>
             <% end %>
             <% if @map51 == "1" %>
             <p class="sold51">SOLD</p>
             <% end %>
             <% if @map52 == "1" %>
             <p class="sold52">SOLD</p>
             <% end %>

        </div>

        <section class="mapnumbers">
        <% @maps.each do |map| %>
            <% if current_user?(@user) %>
            <% else %>
            <h2 class="aboutmapnumbers"><p><a><%= link_to(map.numb, edit_map_path(map)) %></a></p> <%= map.sold %> </h2> 
            <% end %>
            <% end %>
         </section>
           
    </main>
